---
layout: default
title: "News and Updates"
---

<!-- Include Page Header -->
{% include sub-page-header.html folder="Pages" file="News and Updates" %}


<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5">
        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
          <div class="d-flex flex-column">
              <img class="img-fluid rounded w-100 align-self-end" src="{{ site.baseurl }}/img/news-updates.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-8 wow fadeIn" data-wow-delay="0.5s">
          <p class="d-inline-block border rounded-pill py-1 px-4">News</p>

            {% for post in site.posts %}

              <h4><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
              <p>posted on {{ post.date | date: "%B %d, %Y" }}</p>

            {% endfor %}

        </div>
      </div>
  </div>
</div>
<!-- About End -->

