


    <!-- Feature Start -->
    <div class="container-fluid bg-primary overflow-hidden my-3 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-2 ps-lg-0">
                        <h2 class="text-white mb-2">{{ include.banner-title }}</h2>
                        <h5 class="text-white mb-1 pb-2">{{ include.banner }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->

