


    <!-- Feature Start -->
    <div class="container-fluid bg-primary overflow-hidden my-4 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-2 ps-lg-0">
                        <h3 class="text-white mb-2">banner</h3>
                        <p class="text-white mb-2 pb-2">Tempor erat elitr rebum at sit</p>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 50px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="{{ site.baseurl }}/img/feature.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->

