---
layout: default
---

<!-- page name is from one of the files in team folder, serves as the identifier for person -->

{% assign slug = page.name | replace: '.html', '' %}
{% assign person = site.data.team | where: "slug", slug | first %}



<!-- Include Page Header -->

{% include sub-page-header.html folder="Our Team" file=person.name %}


  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-2 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-100 align-self-end" src="{{ site.baseurl }}/img/{{ person.photo }}" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block border rounded-pill py-1 px-4">Team Member</p>
                <h1 class="mb-1">{{ person.name }}</h1>

                <h4 class="mb-4">{{ person.qual }}</h4>

                <h5 class="mb-4">{{ person.experience }}</h5>


                {% if person.roles contains "director" %}
                  <p><i class="far fa-check-circle text-primary me-3"></i>{{ person.name }} is a managing director of PNP Wellness Center.</p>
                {% endif %}

                {% if person.roles contains "therapist" %}
                  <p><i class="far fa-check-circle text-primary me-3"></i>Therapist: {{ person.specialty }}</p>
                {% endif %}

                <p class="mb-4">{{ person.description }}</p>

            </div>
        </div>
    </div>
  </div>
  <!-- About End -->




    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
              <p class="d-inline-block border rounded-pill py-1 px-4">Team</p>
              <h1>Our Team</h1>
          </div>
          <div class="row g-4">
      
            {% for person in site.data.team %}

              <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="team-item position-relative rounded overflow-hidden">
                      <div class="overflow-hidden">
                          <img class="img-fluid" src="{{ site.baseurl }}/img/{{ person.photo }}" alt="">
                      </div>
                      <div class="team-text bg-light text-center p-4">
                          <h5>{{ person.name }}</h5>
                          <p class="text-primary">{{ person.specialty }}</p>
                          <div class="team-social text-center">
                              <a class="btn btn-primary rounded-pill py-1 px-4 mt-1" href="{{ site.baseurl }}/team/{{ person.slug }}.html">View Profile</a>
                          </div>
                      </div>
                  </div>
              </div>

            {% endfor %}
      
          </div>
      </div>
  </div>
  <!-- Team End -->