
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    <!-- Include Page sub-header -->
    {% include sub-page-header.html folder="News" file="Post" %}

    <article>

      <!-- Posts Start -- based on About -->
      <div class="container-fluid py-5">
        <div class="container-lg">
          <div class="row g-5">

            <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.3s">
              <div class="post-item bg-primary rounded p-3">

                  {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

                  {% for year in posts_by_year %}
                    <h5 class="text-white">{{ year.name }}</h5>
                  
                    {% assign posts_by_month = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
                    {% for month in posts_by_month %}
                      <h6 class="ms-2 text-white">{{ month.name }}</h6>

                        {% for post in month.items %}
                          <p class="ms-4 text-white">{{ post.date | date: "%d" }} | <a href="{{ post.url }}">{{ post.title }}</a></p>
                        {% endfor %}

                    {% endfor %}
                  
                  {% endfor %}

              </div>
            </div>

            <div class="col-lg-8 col-md-8 order-first order-md-last text-left mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" >
              <h1>{{ page.title }}</h1>
              <p><em>posted {{ page.date | date: "%B %d, %Y" }}</em></p>
              <div class="">
                {{ content }}
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Posts End -->

    </article>

    {% include footer.html %}
  </body>
</html>
